div.pinterest_feeds{

  display: flex;
  flex-direction: column-reverse;
}

div.feed_item{
   margin:2px !important;
   vertical-align:middle; 
   overflow:hidden !important;
}
a#pinterest_widget_follow:hover {

	text-shadow: 1px 2px rgba(209, 2, 29,0.8);
}


  



div.pinterest__follow_icon{
	text-align:center !important;
	margin-top: -10px;
}


